@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap'); 
 *{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
    display: flex;
    background: url("../tela\ de\ login/stacked-waves-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 125vh;
    width: 100vw;
}

#container{
  border-radius: 30px;
  width: 350px;
  height: 600px;
  background: linear-gradient(rgb(0, 174, 255)1%,rgb(21, 0, 255) 50%, rgb(102, 1, 197)90%);
  margin: 0 auto;
  margin-top: 70px;
  box-shadow: 1px 5px 5px rgba(1, 1, 1, 0.5);
  margin-bottom: auto;
}

form{
  margin-left: 25px;
  margin-top: -100px;
}


input{
  text-align: center;
  margin: 0px 0px 15px 0px;
  border: rgb(110, 195, 255) solid 2.5px;
  border-radius: 10px;
  background: rgba(207, 206, 206, 0.234);
  width: 300px;
  height: 50px;
}

#sbmt{
  margin-top: 10px;
  margin-left: 75px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
#sbmt:hover{
    box-shadow: 0px 0px 5px rgb(146, 210, 255);
  background-color: rgb(0, 162, 255);
  color: white;
}

h1{
    position: absolute;
    margin-top: -275px;
    text-shadow: 0px 0px 5px rgb(0, 157, 255);
    color: rgb(14, 135, 255);
    margin-left: 60px;
}
#circulo {
    transform: rotate(90deg);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    clip-path: circle(50% at 0%);
    background: rgb(252, 253, 255);
}
a{
    color: white;
    text-decoration: none;
    margin-bottom: 100px;
  }